@font-face {
  font-family: squealer;
  src: url("../fonts/fff.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  color: #ffffff;
}
.hero {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/millenniumparade.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ff4a56;
  text-align: center;
  padding: 175px;
  filter: brightness(115%);
  box-shadow: 0px 0px 90px 90px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
}

header h1 {
  font-family: squealer;
  font-weight: 700;
  font-size: 128px;
  color: #c7c7c7;
  letter-spacing: 5px;
  text-shadow: 0px 0px 0 rgb(167, -57, 0), 1px -1px 0 rgb(154, -70, 0),
    2px -2px 0 rgb(142, -82, 0), 3px -3px 0 rgb(129, -95, 0),
    4px -4px 0 rgb(117, -107, 0), 5px -5px 0 rgb(104, -120, 0),
    6px -6px 0 rgb(92, -132, 0), 7px -7px 0 rgb(79, -145, 0),
    8px -8px 0 rgb(67, -157, 0), 9px -9px 0 rgb(54, -170, 0),
    10px -10px 0 rgb(42, -182, 0), 11px -11px 10px rgba(128, 0, 0, 0.8),
    11px -11px 1px rgba(128, 0, 0, 0.5), 0px 0px 10px rgba(128, 0, 0, 0.2);
}

.button {
  background-image: linear-gradient(144deg, #ffaaaa, #fde69a 50%, #eb003b);
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  display: inline-flex;
  font-size: 20px;
  margin: 30px;
  padding: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(45, 5, 5);
  padding: 16px 24px;
  border-radius: 22px;
  transition: 300ms;
}

.button:hover span {
  background: none;
  color: black;
}

.button-container {
  text-align: center;
}
.glitch-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;
}

.glitch {
  position: absolute;
  font-weight: bold;

  animation: shift 4s ease-in-out infinite alternate;
  transform: skewX(0deg);
  z-index: 1;
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(-10deg);
  }
  59% {
    transform: skewX(35deg) skewY(10deg);
  }
  60% {
    transform: skewX(-35deg) skewY(-10deg);
  }
  63% {
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    transform: skewX(-30deg) skewY(-20deg);
  }
  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
main {
  padding-top: 50px;
  margin-bottom: 70px;
}

.synopsis {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-bottom: 50px;
}
.synopsis img {
  border-radius: 30px;
  margin: 0 auto;
}
.synopsis .container-2 {
  background: rgba(0, 0, 0, 0.69);
  border-radius: 30px;
  padding: 33px;
}
.synopsis .container-2 h3 {
  text-align: left;
  margin: 0 auto;
  margin-left: 100px;
  font-size: 36px;
}
.synopsis .container-2 h1 {
  font-family: squealer;
  font-size: 48px;
  margin: 0 auto;
  text-align: right;
  letter-spacing: 5px;
}
.container-2 h1 {
  text-shadow: 0px 0px 0 rgb(177, 177, 177), 1px -1px 0 rgb(163, 163, 163),
    2px -2px 0 rgb(150, 150, 150), 3px -3px 0 rgb(136, 136, 136),
    4px -4px 0 rgb(122, 122, 122), 5px -5px 0 rgb(108, 108, 108),
    6px -6px 0 rgb(94, 94, 94), 7px -7px 0 rgb(81, 81, 81),
    8px -8px 0 rgb(67, 67, 67), 9px -9px 0 rgb(53, 53, 53),
    10px -10px 0 rgb(39, 39, 39), 11px -11px 10px rgba(0, 0, 0, 0.8),
    11px -11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}
img {
  max-width: 100%;
  max-height: 100%;
}
.pg-1,
.pg-2 {
  font-size: 18px;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

td:last-child {
  width: 33%;
}
.creative-collective {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaborators {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 100%;
}

.collaborators img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: none;
  padding: 10px;
}
.name {
  text-align: center;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.card {
  margin: 30px 0;
  border: 5px solid rgb(208, 64, 56);
  border-bottom: 30px groove rgb(208, 64, 56);
  border-radius: 040px 40px 200px 200px;
  box-shadow: 0px 10px 30px -7px rgb(208, 64, 56);
}
.card-body {
  padding: 30px;
  text-align: center;
}

.tracks {
  margin-bottom: 70px;
}
.tracks-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Trepanation\ Cover.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #d67d00;
  text-align: center;
  padding: 100px;
  filter: brightness(115%);
  box-shadow: 0px 0px 90px 100px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
  font-size: 84px;
  font-family: squealer;
  letter-spacing: 3px;
  text-shadow: 0px 0px 0 rgb(-78, 136, 132), 1px -1px 0 rgb(-92, 122, 118),
    2px -2px 0 rgb(-105, 109, 105), 3px -3px 0 rgb(-119, 95, 91),
    4px -4px 0 rgb(-133, 81, 77), 5px -5px 0 rgb(-147, 67, 63),
    6px -6px 0 rgb(-161, 53, 49), 7px -7px 0 rgb(-174, 40, 36),
    8px -8px 0 rgb(-188, 26, 22), 9px -9px 0 rgb(-202, 12, 8),
    10px -10px 0 rgb(-216, -2, 0), 11px -11px 10px rgba(0, 0, 0, 0.8),
    11px -11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.videos {
  margin-bottom: 70px;
}
.video-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Veil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
  filter: brightness(115%);
  box-shadow: 0px 0px 90px 100px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
  font-size: 84px;
  font-family: squealer;
  letter-spacing: 3px;
  text-shadow: 0px 0px 0 rgb(177, 177, 177), 1px -1px 0 rgb(163, 163, 163),
    2px -2px 0 rgb(150, 150, 150), 3px -3px 0 rgb(136, 136, 136),
    4px -4px 0 rgb(122, 122, 122), 5px -5px 0 rgb(108, 108, 108),
    6px -6px 0 rgb(94, 94, 94), 7px -7px 0 rgb(81, 81, 81),
    8px -8px 0 rgb(67, 67, 67), 9px -9px 0 rgb(53, 53, 53),
    10px -10px 0 rgb(39, 39, 39), 11px -11px 10px rgba(0, 0, 0, 0.8),
    11px -11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.video-row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 0 auto;
  padding-top: 30px;
}
.youtube {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 30px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.4)),
    url("../images/Belle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 90px 75px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
  padding: 50px;
}
footer h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 800;
}
footer p {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
}
footer a {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(82, 230, 235);
  text-decoration: none;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 50px;
}
.mplinks {
  margin-bottom: 0;
}
.logo {
  display: flex;
  width: 40%;
  margin: 0 auto;
}
.top {
  display: block;
  text-align: right;
}

@media (max-width: 600px) {
  body {
    margin: 0 auto;
  }
  header {
    padding: 75px 0px;
    margin-bottom: 30px;
    max-width: 100%;
  }

  header h1 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .button {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .button span {
    padding: 12px 15px;
  }
  .glitch-wrapper {
    padding: 40px;
    font-size: 24px;
  }
  main {
    padding: 30px;
  }
  .synopsis {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .synopsis img {
    display: none;
  }
  .synopsis .container-2 h1 {
    font-size: 24px;
    margin: 0 auto;
  }
  .synopsis .container-2 h3 {
    margin: 0 auto;
    font-size: 24px;
  }
  img {
    max-width: 75%;
    max-height: 75%;
  }
  .grid-3-columns {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 75%;
  }
  .video-row {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0 auto;
    width: 50%;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}
