@font-face {
  font-family: squealer;
  src: url("../fonts/fff.ttf");
}
body {
  background-color: black;
  color: white;
}
.hero {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/millenniumparade.jpg");
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
  filter: brightness(115%);
  box-shadow: 0px 0px 90px 90px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
}
header h1 {
  font-family: squealer;
  font-weight: 700;
  font-size: 120px;
  line-height: 1;
  letter-spacing: 5px;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
main {
  padding-top: 50px;
  margin-bottom: 50px;
}

.summary {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-bottom: 50px;
}
.summary img {
  border-radius: 30px;
}
.summary .container-2 {
  background: rgba(117, 63, 63, 0.69);
  border-radius: 30px;
  padding: 33px;
}
.summary .container-2 h3 {
  text-align: left;
  margin: 0 auto;
  margin-left: 100px;
  font-size: 36px;
}
.summary .container-2 h1 {
  font-family: squealer;
  font-size: 48px;
  margin: 0 auto;
  text-align: right;
  letter-spacing: 5px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.pg-1,
.pg-2 {
  font-size: 18px;
}
.tracks {
  margin-bottom: 50px;
}
.tracks-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Trepanation\ Cover.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
  filter: brightness(115%);
  box-shadow: 0px 0px 90px 100px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
  font-size: 72px;
}
.spotify {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 auto;
}
.video-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Veil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
  filter: brightness(115%);
  box-shadow: 0px 0px 90px 100px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
  font-size: 72px;
}
.video-row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 0 auto;
  padding-top: 30px;
}
.youtube {
  width: 100%;
  aspect-ratio: 21/9;
  border-radius: 30px;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.4)),
    url("../images/Belle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 90px 75px rgba(0, 0, 0, 1) inset;
  margin-bottom: 50px;
  padding: 50px;
}
footer h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
footer a {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  color: cadetblue;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
}
